<!DOCTYPE html>
<html>

<head>
    <%- include('partials/header.ejs') %>
        <title>GTIA | About Us</title>
        <link href="../../assets/sun/css/style.css" rel="stylesheet">
</head>

<body>

    <%- include('partials/navbar.ejs', {currentPage: 'faq' })%>

    <section>
        <div class="container">
            <div class="row pt-5">
                <div class="col-5">
                    <img src="../../assets/sun/img/about/logo.gif" width="100%" />
                </div>
                <div class="col-7">
                    <h1 class="pt-2 color-dark-primary">About Us</h1>
                    <p class="color-dark-secondary">International Ambassadors at Georgia Tech (GTIA) is an organization dedicated to supporting Georgia Tech students, both international and domestic. Our tight-knit organization has roughly 60 members from over 20 nations and five continents, and together we work to celebrate our student body’s diversity and internationality by providing resources for international students and hosting multiple cultural festivities throughout the year. Our talented and hardworking members love to connect with students -- past, present, and future -- to make Tech a welcoming and diverse environment for everyone.</p>
                    <p class="color-dark-secondary">Connect with us on social media or through our email if you have any questions or would like to talk to one of our members about their experience at Georgia Tech as an international student.</p>
                </div>
            </div>            
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row pt-5">
                <div class="col d-flex justify-content-center">
                    <h2 class="color-dark-primary">OUR MISSION</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="d-flex justify-content-center">
                        <img src="../../assets/sun/img/about/mission_3.png" width="50%">
                    </div>
                    <h3 class="color-dark-primary text-center">SUPPORT<br>INTERNATIONAL<br>STUDENTS</h3>
                    <p class="color-dark-secondary">We seek to aid incoming international students engage with the Georgia Tech community, to push for their early personal growth, and to preserve and increase the Institute’s diversity.</p>
                    <p class="color-dark-secondary">GTIA also advocates for the international student community by representing their voice, especially in times of need.</p>
                </div>
                <div class="col-4">
                    <div class="d-flex justify-content-center">
                        <img src="../../assets/sun/img/about/mission_2.png" width="50%">
                    </div>
                    <h3 class="color-dark-primary text-center">CELEBRATE<br>CULTURAL<br>DIVERSITY</h3>
                    <p class="color-dark-secondary">GTIA engages the general student body in events and activities that promote international culture and diversity, many of which are supported by the Office of International Education.</p>
                </div>
                <div class="col-4">
                    <div class="d-flex justify-content-center">
                        <img src="../../assets/sun/img/about/mission_1.png" width="50%">
                    </div>
                    <h3 class="color-dark-primary text-center">ENRICH<br>MEMBER<br>EXPERIENCES</h3>
                    <p class="color-dark-secondary">We want to create a culture that encourages our members to think of how they can support and advocate for Georgia Tech’s international community at large. We continuously promote honest, and sometimes difficult, discussions, with the aim of broadening the perspectives of our members and increasing member engagement. </p>

                </div>
            </div>            
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row pt-5">
                <div class="col d-flex justify-content-center">
                    <h2 class="color-dark-primary">EVENTS</h2>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-7 d-flex justify-content-center">
                    <img src="../../assets/sun/img/group_2.png" width="100%">
                </div>
                <div class="col-5">
                    <h3 class="color-dark-primary">NIGHT MARKET</h3>
                    <p class="color-dark-secondary">In the Spring term, GTIA hosts a weeklong celebration of Georgia Tech’s diversity and culture called Culture Fest. Culture Fest is an annual tradition, attracting over 1500 students each year to our various events. During Culture Fest, cultural organizations participate in various events to help educate the student body about traditions from all over the world! Historically, the event kicks off with a Food Fest where cultural organizations cook food from their respective culture and serve it to the campus community. The following events during that week vary from a Language Cafe to a Cultural Showcase.</p>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-5">
                    <h3 class="color-dark-primary">CULTUREFEST</h3>
                    <p class="color-dark-secondary">In the Fall term, GTIA organizes Night Market, an evening celebration of cultural music, food, art, and traditions on Tech Walkway. The event features cultural organizations, student art, musical performances, and delicious international food! Our goal is to recreate the essence of a night market or bazaar and bring the world to Georgia Tech's campus.</p>
                </div>
                <div class="col-7 d-flex justify-content-center">
                    <img src="../../assets/sun/img/group_2.png" width="100%">
                </div>
            </div>        
        </div>
    </section>

    <section style="background-image: url(../../assets/sun/img/about/brushstroke.png); background-position: center; background-size: 95%; background-repeat: no-repeat;">
        <div class="container">
            <div class="row pt-5">
                <div class="col d-flex justify-content-center">
                    <h2 class="color-dark-primary">COMMITEES</h2>
                </div>
            </div>  
            <div class="row">
                <div class="col">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-5 offset-1">
                                    <h3 class="color-dark-primary">EXTERNAL</h3>
                                    <p class="color-dark-secondary">External Affairs organizes cultural events to increase GTIA's on-campus presence and to increase the visibility of diversity on campus. These events mainly revolve around sharing aspects of international culture that are important to us and our members.</p>
                                </div>
                                <div class="col-6">
                                    <img src="../../assets/sun/img/about/carousel/1.png" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-5 offset-1">
                                    <h3 class="color-dark-primary">INTERNAL</h3>
                                    <p class="color-dark-secondary">Internal oversees Ambassador membership, recruitment, general meetings, and communication. Internal will organize retreats, team dinners, and other social events to strengthen the GTIA Community.</p>
                                </div>
                                <div class="col-6">
                                    <img src="../../assets/sun/img/about/carousel/2.png" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-5 offset-1">
                                    <h3 class="color-dark-primary">FINANCE</h3>
                                    <p class="color-dark-secondary">Finance is in charge of securing funds for GTIA, maintaining records of all revenue and expenditure, and working with other committees to fund their events.</p>
                                </div>
                                <div class="col-6">
                                    <img src="../../assets/sun/img/about/carousel/3.png" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-5 offset-1">
                                    <h3 class="color-dark-primary">MARKETING</h3>
                                    <p class="color-dark-secondary">Marketing produces all promotional materials and merchandising for GTIA. The committee also leverages its social media presence to spread intervultural awareness.</p>
                                </div>
                                <div class="col-6">
                                    <img src="../../assets/sun/img/about/carousel/4.png" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-5 offset-1">
                                    <h3 class="color-dark-primary">OUTREACH</h3>
                                    <p class="color-dark-secondary">Outreach manages campaigns to promote Georgia Tech on an international level and organizes efforts to reach out to prospective and admitted students from around the world.</p>
                                </div>
                                <div class="col-6">
                                    <img src="../../assets/sun/img/about/carousel/5.png" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-5 offset-1">
                                    <h3 class="color-dark-primary">EVP & PRESIDENT</h3>
                                    <p class="color-dark-secondary">The President and Executive Vice President work closely together, but have different statements of work. Our President represents the organization at conferences, conventions and at faculty or alumni meetings. S/he maintains relationships with our campus partners and other organization leaders. The Executive Vice President mainly manages the Executive Board, collects organization wide feedback, and acts as the officer in charge of Elections.</p>
                                </div>
                                <div class="col-6">
                                    <img src="../../assets/sun/img/about/carousel/6.png" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <i class="fas fa-chevron-left color-primary"></i>
                      </button> 
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <i class="fas fa-chevron-right color-primary"></i>
                      </button>
                    </div>
                </div>
            </div>    
        </div>
    </section>

    <%- include('partials/footer.ejs') %>
    <%- include('partials/common-scripts.ejs') %>

</body>

</html>