<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/header.ejs') %>
    <title>GTIA | Career Resources</title>
    <link href="../../assets/sun/css/style.css" rel="stylesheet" />
    <link href="../../assets/sun/css/career-resources.css" rel="stylesheet" />
  </head>

  <body>
    <%- include('partials/navbar.ejs', {currentPage: 'faq' })%>

    <div class="container py-5" id="career_resources">
      <h1 class="text-center">Career Resources</h1>

      <section id="introduction">
        <h3>Introduction</h3>
        <p>
          Welcome to GTIA’s International Student Career Resources page! Career
          search for international students is an especially difficult process,
          and we wanted to share some tips and resources in preparation for the
          upcoming All-Majors Career Fair. Please enjoy!
        </p>

        <p>
          In service and progress,<br />
          GTIA Campus Outreach Team
        </p>

        <img src="../../assets/sun/img/gtia-navy-logo.png" width="200px" class="d-block my-3"/>


        <p style="text-align: right;">Published September 9, 2021</p>

        <p>
          <small>
            Disclaimer: While every effort was made by International Ambassadors
            of Georgia Tech (GTIA) to ensure the content of this article was
            accurate and up-to-date, this article was produced for general use
            only and GTIA cautions against reliance upon the information
            contained in this article.
          </small>
        </p>
      </section>

      <section id="on_campus_resources" class="my-5">
        <h3>On-Campus Career Resources</h3>
        <p>
          If you are unsure where to start, let’s start with the basics. Here
          are some useful tips to help you navigate career resources at Georgia
          Tech:
        </p>

        <ol>
          <li>
            <b>
              Check out
              <a
                href="https://isss.oie.gatech.edu/isss/international-student-employment-overview"
                target="_blank"
                >ISSS’s International Student Resources
              </a>
            </b>
            <p>
              Office of International Education’s International Students and
              Scholar Services (ISSS) unit provides support to international
              student and scholars at Georgia Tech in areas such as advising for
              immigration compliance and benefit eligibility . For F-1 students,
              please make sure to check out the
              <a
                href="https://isss.oie.gatech.edu/content/f-1-employment-overview"
                target="_blank"
                >F-1 Students Employment Overview</a
              >
              to learn more about the types of employment authorizations for F-1
              visa holders, such as on-campus employment eligibility as well as
              off-campus experiential learning opportunities, like
              <a
                target="_blank"
                href="https://isss.oie.gatech.edu/isss/curricular-practical-training"
                >Curricular Practical Training (CPT)
              </a>
              and
              <a
                href="https://isss.oie.gatech.edu/isss/optional-practical-training"
                target="_blank"
                >Optional Practical Training (OPT)</a
              >. Information on
              <a
                target="_blank"
                href="https://isss.oie.gatech.edu/isss/campus-employment-j-students"
                >On-Campus Employment</a
              >
              and
              <a href="https://isss.oie.gatech.edu/AT" target="_blank"
                >Academic Training</a
              >
              is available for J-1 students.
            </p>
          </li>

          <li>
            <b
              >Access
              <a href="https://career.gatech.edu/" target="_blank"
                >Career Center</a
              >
              Resources</b
            >
            <p class="mb-0">
              It is a one-stop-shop for all career services! Here are some links
              to visit first:
            </p>
            <ul class="mt-0 pt-0">
              <li>
                <a href="https://career.gatech.edu/careerbuzz" target="_blank"
                  >CareerBuzz</a
                >, Tech’s state-of-the-art interview & job posting management
                system, which features Career Event Schedule and Career Center
                Drop-In Hours (Aug 24 - Dec 2)
              </li>
              <li>
                <a
                  href="https://www.canva.com/design/DAEnQ6fWUPA/Rgcp5IKGacYNprGvpsbkJA/view?utm_content=DAEnQ6fWUPA&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton#4"
                  target="_blank"
                  >Fall Workshops Calendar</a
                >
              </li>
              <li>
                CPT and OPT
                <a
                  href="https://career.gatech.edu/international-cpt-opt"
                  target="_blank"
                  >Webpage</a
                >
              </li>
              <li>
                Undergraduate Job Search
                <a
                  href="http://career.gatech.edu/job-search-resources"
                  target="_blank"
                  >Resource</a
                >
              </li>
              <li>
                Graduate Career Tool
                <a href="https://career.gatech.edu/career-tools" target="_blank"
                  >Resource</a
                >
              </li>
            </ul>
          </li>

          <li>
            Check out
            <a
              target="_blank"
              href="https://gatech-csm.symplicity.com/students/app/events"
              >Events</a
            >
            on CareerBuzz for <b>workshops targeting international students</b>.

            <ul>
              <li>
                Oct 18: “The Value of International and Intercultural Experience
                in the Workplace”
              </li>

              <li>Oct 28: “Job Searching for International Students”</li>
            </ul>
          </li>

          <li>
            Reach out to one of Georgia Tech’s
            <b
              >Career Center
              <a
                href="http://career.gatech.edu/undergrad-advisors"
                target="_blank"
                >advisors</a
              > </b
            >, specializing in career development and education. <br />
            Access
            <a
              href="https://gatech-csm.symplicity.com/students/index.php/students/?s=calendar&ss=app_main&mode=landing"
              target="_blank"
              >“Counseling Appointment”</a
            >
            under Counseling and Calendar on the left side bar of your
            CareerBuzz account.
          </li>

          <li>
            Check out resources provided by
            <b>individual academic departments</b>. <br />
            They often run a job opportunities board, offer career advising, and
            provide resume and cover letter samples specific to careers related
            to your major.
          </li>

          <li>
            Check out
            <a
              target="_blank"
              href="https://gatech.campuslabs.com/engage/organizations?branches=232110&branches=232113&branches=226012&categories=12395&categories=12396&categories=12390&categories=12382"
              >Engage</a
            >
            - GT Student Organization Search <br />
            <b
              >Career-related student organizations, business/professional
              fraternities, Culture and major-specific student organizations
            </b>
            are a great way to connect with other students that are interested
            in similar career paths, share information and take on
            career-related projects.
          </li>
        </ol>
      </section>

      <section id="employers_list" class="pt-3 mb-5">
        <h3>Fall 2021 All-Majors Career Fair Companies</h3>
        <p>
          Below is the <b>compiled list of companies that are participating in
          Georgia Tech’s Fall 2021 All-Majors Career Fair (Sep 13-15)</b> that have
          indicated potential <b>H1B sponsorship</b> for their full-time positions,
          either on occasion or on a regular basis.
        </p>
        <!-- <small class="mt-3">
          <b>Disclaimer:</b> This information has been extracted from
          <a href="https://gatech-csm.symplicity.com/" target="_blank"
            >GT CareerBuzz</a
          >
          website for
          <a
            href="http://careerfair.gatech.edu/Fall2021careerfair"
            target="_blank"
            >2021 Fall All-Majors Career Fair
          </a>
          (Sept 13-15, 2021). We, at GTIA, encourage all the students to
          interact and talk to companies even if they are not listed below -
          opportunities can appear everywhere.
        </small> -->

        <div style="display: flex; justify-content: center; height: 500px">
          <iframe
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRS1CGyjBCs-HOD9TIrEVCE-0It_j4rg9UIjQE9uirYC48kwf2sZrWei4c_DcfYo-EK-4EwbbbueaeE/pubhtml?widget=true&amp;headers=false"
            width="90%"
            heigh="500px"
          ></iframe>
        </div>
      </section>

      <section id="off_campus_resources" class="my-5">
        <h3>Off-Campus Career Resources</h3>
        <ol>
          <li>
            <a
              target="_blank"
              href="https://www.uscis.gov/tools/reports-and-studies/h-1b-employer-data-hub"
              >H-1B Employer Data Hub</a
            >
            <p>
              Offered by the U.S. Citizenship and Immigration Services, The H-1B
              Employer Data Hub includes data on employers who have submitted
              petitions to employ H-1B nonimmigrant workers from 2009 to 2021.
            </p>
          </li>

          <li>
            <a target="_blank" href="https://h1bdata.info/"
              >H1B Visa Salary Database</a
            >
            <p>
              Similar to the H-1B Employer Data Hub, this website is a great
              resource to view the hiring trends for specific companies. If you
              find a company you really want to work for, you can use this
              website to see the frequencies of H1B hires for the position you
              are applying for.
            </p>
          </li>

          <li>
            <a
              target="_blank"
              href="https://www.youtube.com/embed/1StAhgiJ2Kc?rel=0"
              >"Talking to Employers about Work Authorization"</a
            >
            <p>
              Often the most difficult aspect of the hiring process, how and
              when to communicate the topic of work authorization is discussed
              in this Youtube video.
            </p>
            <iframe
              src="https://www.youtube.com/embed/1StAhgiJ2Kc?rel=0"
              width="90%"
              height="640"
            ></iframe>
          </li>
        </ol>
        <p>
          Below are resources from other universities that are available for
          public reference.
        </p>
        <ul>
          <li>
            <a
              href="https://www.creighton.edu/careercenter/students/internationalstudentresources/internationalstudentcareerplanningtimeline/"
              target="_blank"
              >Creighton University's International Student Career Planning
              Timeline by Grade Level
            </a>
          </li>
          <li>
            <a
              href="https://www.northwestern.edu/careers/resources/international-student-career-planning-guide.pdf"
              target="_blank"
              >Northwestern University's International Student Career Planning
              Guide
            </a>
          </li>
          <li>
            <a
              href="https://careers.tufts.edu/channels/international-students/"
              target="_blank"
              >Tufts University's International Student Career Resources and
              Quick
            </a>
          </li>
          <li>
            <a
              href="https://career.berkeley.edu/IntnlStudents/IS-strategies"
              target="_blank"
              >Tips University of California - Berkeley's International Students
              Job & Internship Search Strategies
            </a>
          </li>
        </ul>
      </section>
    </div>

    <%- include('partials/footer.ejs') %> <%-
    include('partials/common-scripts.ejs') %>
  </body>
</html>
