<!DOCTYPE html>
<html>

<head>
    <%- include('partials/header.ejs') %>
        <title>GTIA | FAQ</title>
        <link href="../../assets/sun/css/style.css" rel="stylesheet">
</head>

<body>

    <%- include('partials/navbar.ejs', {currentPage: 'faq' })%>

        <section>
            <div class="container">
                <div class="row pt-5">
                    <div class="col-md-12">
                        <h1 class="color-dark-primary">F. A. Q.</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <p class="color-dark-secondary">
                            Check out our questions and answers below! 
                        </p>
                        <p class="color-dark-secondary ">
                            Still have a question? <a href="mailto:gtinternationalambassadors@gmail.com">Send us a message!</a>
                        </p>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-md-4">
                        <h5 class="faq-link text-center">
                            <a class="faq-link" href="#applying_to_GTIA">APPLYING TO GTIA</a>
                        </h5>
                    </div>
                    <div class="col-md-4">
                        <h5 class="faq-link text-center">
                            <a class="faq-link" href="#international_student_resources">INTERNATIONAL STUDENT
                                RESOURCES</a>
                        </h5>
                    </div>
                    <div class="col-md-4">
                        <h5 class="faq-link text-center">
                            <a class="faq-link" href="#sponsorship">SPONSORSHIP</a>
                        </h5>
                    </div>
                </div>
            </div>
        </section>

        <section id="applying_to_GTIA">
            <div class="container">
                <div class="row pt-3">
                    <div class="col-md-12">
                        <a class="collapsed" data-bs-toggle="collapse" href="#collapse-applying" role="button" aria-expanded="true"
                            aria-controls="collapse-applying">
                            <div class="d-inline-flex">
                                <h3 class="pull-left">APPLYING TO GTIA</h3>
                                <h3 class="pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                </h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="collapse" id="collapse-applying">
                    <div class="row pt-5">
                        <div class="col-md-7">
                            <div class="pl-5">
                                <h3 class="color-dark-primary">What are the main tasks of a new member?</h3>
                                <p class="color-dark-secondary pt-3">
                                    Once new members join, they partake in the “New Member Project” to get to know each
                                    other better and integrate themselves with the GTIA community. As general GTIA
                                    members,
                                    new members attend weekly general meetings, participate in their respective
                                    committees,
                                    and socialize with other members. Additionally, they should gain an understanding of
                                    their role as International Ambassadors who promote diversity and inclusion on
                                    campus.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-5">
                        <div class="col-md-7">
                            <div class="pl-5">
                                <h3 class="color-dark-primary">How and when does GTIA meet?</h3>
                                <p class="color-dark-secondary pt-3">
                                    General body meetings occur every Thursday 6-7pm EST. Currently, meetings are held
                                    via
                                    BlueJeans, but will be held in person once campus returns to in-person classes.
                                    Committee meetings occur weekly, and meeting days/times vary.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-5">
                        <div class="col-md-7">
                            <div class="pl-5">
                                <h3 class="color-dark-primary">How much time commitment is required to be involved in
                                    GTIA?
                                </h3>
                                <p class="color-dark-secondary pt-3">
                                    Around 3-4 hours a week. A general member’s typical weekly schedule consists of an
                                    hour
                                    of general meeting and an hour of committee meetings. Members commit an average of
                                    1-2
                                    hours a week for social events or work outside of meetings.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-5">
                        <div class="col-md-7">
                            <div class="pl-5">
                                <h3 class="color-dark-primary">How will my academic and professional career be impacted
                                    when
                                    I join?</h3>
                                <p class="color-dark-secondary pt-3">
                                    By working on various initiatives and projects in committees, members gain valuable
                                    workplace and project management skills. Members also have many leadership
                                    opportunities, like joining the executive board and serving committee chair roles.
                                </p>
                                <p class="color-dark-secondary ">
                                    GTIA’s tight-knit community provides members with social, academic, and professional
                                    support across all areas of interest, which will continue post-graduation through
                                    our
                                    growing global alumni network.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-5">
                        <div class="col-md-7">
                            <div class="pl-5">
                                <h3 class="color-dark-primary">What other GT organizations does GTIA cooperate with?
                                    (and
                                    how?)</h3>
                                <p class="color-dark-secondary pt-3">
                                    GTIA works closely with the Office of International Education to bring our
                                    initiatives
                                    and events to life. Additionally, we leverage our relationship with the Office of
                                    Undergraduate Admissions and Graduate Studies to connect with and serve as resources
                                    for
                                    prospective and current international Tech students. We also collaborate with
                                    various
                                    student life offices and cultural organizations that share our mission to promote
                                    campus
                                    diversity.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="international_student_resources">
            <div class="container mt-5">
                <div class="row pt-3">
                    <div class="col-md-12">
                        <a class="collapsed" data-bs-toggle="collapse" href="#collapse-resources"
                            aria-expanded="true" aria-controls="collapse-resources">
                            <div class="d-inline-flex">
                                <h3 class="pull-left">INTERNATIONAL STUDENT RESOURCES</h3>
                                <h3 class="pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                </h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="collapse" id="collapse-resources">
                    <!-- ACADEMICS -->
                    <div class="row pt-5">
                        <div class="col-md-7">
                            <div class="pl-5">
                                <a class="collapsed" data-bs-toggle="collapse" href="#academics" aria-expanded="true" aria-controls="academics">
                                    <div class="d-inline-flex">
                                        <h3 class="pull-left">Academics</h3>
                                        <h3 class="pull-right">
                                            <i class="fa fa-chevron-down"></i>
                                        </h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="academics" class="collapse">
                        <div class="row pt-5">
                            <div class="col-md-7">
                                <div class="pl-5">
                                    <h3 class="color-dark-primary">What are some useful general academic resources for Tech
                                        students?</h3>
                                    <p class="color-dark-secondary pt-3">
                                        Course scheduling and registration at Georgia Tech is a process that spans 1-2
                                        months.
                                        Any student may plan a four year schedule by looking at the <a class="color-primary"
                                            href="http://catalog.gatech.edu" target="_blank">Course Catalog</a>. This lists
                                        all
                                        the requirements that students must fulfill in addition to their major requirements
                                        to
                                        complete the degree. Students can reach out to their Academic Advisors for
                                        assistance in
                                        planning their course load for the following semester.
                                    </p>
                                    <p class="color-dark-secondary ">
                                        The following are tools that students utilize for course planning:
                                    </p>
                                    <ul class="color-dark-secondary ">
                                        <li><a class="color-primary" href="https://www.gt-scheduler.org" target="_blank">GT
                                                Scheduler</a>: This a recently-developed (by Tech students!) website that
                                            ties
                                            together all the tools mentioned below! </li>
                                        <li><a class="color-primary" href="https://gatech.courseoff.com"
                                                target="_blank">Courseoff</a>: A website for students to plan their
                                            schedules
                                            ahead of registration and simplifies the registration process. Besides offering
                                            a
                                            color coded scheme for various classes, it enables students to select any
                                            particular
                                            class offered in the current/future semester, view the timings and class
                                            capacity,
                                            professors teaching those classes, and the course CRNs. CRN numbers are uniquely
                                            assigned to each class which can later be inputted during registration to
                                            quickly
                                            get the desired classes.</li>
                                        <li><a class="color-primary"
                                                href="https://www.ratemyprofessors.com/campusRatings.jsp?sid=361"
                                                target="_blank">RateMyProfessor</a>: A website that allows students to view
                                            reviews and ratings of professors for multiple subjects based on student
                                            feedback.
                                        </li>
                                        <li><a class="color-primary" href="https://critique.gatech.edu/"
                                                target="_blank">Course
                                                Critique</a> and <a class="color-primary"
                                                href="https://lite.gatech.edu/lite_script/dashboards/grade_distribution.html"
                                                target="_blank">Georgia Tech's Grade Distribution Dashboard</a>: These
                                            websites
                                            provide students information on the grade distribution (GPA) for different
                                            courses
                                            and professors over a span of 5-10 years.</li>
                                    </ul>
                                    <p class="color-dark-secondary ">
                                        Georgia Tech students reference these tools to gauge a preliminary understanding of
                                        the
                                        course and how it might go, but it isn’t representative of everything the classes
                                        and
                                        professors entail.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-5">
                            <div class="col-md-7">
                                <div class="pl-5">
                                    <h3 class="color-dark-primary">What study abroad opportunities are available at Tech?
                                    </h3>
                                    <p class="color-dark-secondary pt-3">
                                        Each year, more than 1,500 Tech students study at over 120 study abroad programs.
                                        Two
                                        kinds of study abroad programs are offered: GT Faculty-Led and Exchange (not
                                        GT-affiliated), and they can be either general or major-specific. Popular programs
                                        include Georgia Tech Lorraine, Oxford Summer Program, EU Brussels Summer Program,
                                        and
                                        the Pacific Program. You can use the <a
                                            href="https://oie.gatech.edu/study-abroad-programs" class="color-primary"
                                            target="_blank">Study Abroad Program Finder</a> to assist you in your
                                        international
                                        education experience search.
                                    </p>
                                    <p class="color-dark-secondary ">
                                        Additionally, students can pursue the International Plan (IP), which includes 26
                                        weeks
                                        of international experience (work, research, of study). IP's goal is to promote a
                                        deeper
                                        understanding of the global environment and to develop proficiency in a language
                                        other
                                        than English.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-5">
                            <div class="col-md-7">
                                <div class="pl-5">
                                    <h3 class="color-dark-primary">What academic support and advising resources are
                                        available at
                                        Tech?</h3>
                                    <p class="color-dark-secondary pt-3">
                                        There are numerous tutoring resources available on campus, which aid a student to
                                        succeed in his/her coursework. The <a class="color-primary"
                                            href="https://tutoring.gatech.edu/" target="_blank">Tutoring & Academic Support
                                            Center</a> located in the Clough Undergraduate Learning Commons (CULC) offers
                                        many
                                        such opportunities. Below are additional resources to take advantage of as a
                                        student:
                                    </p>
                                    <ul class="color-dark-secondary ">
                                        <li><a class="color-primary" href="http://www.omed.gatech.edu/"
                                                target="_blank">OMED</a>: The Office of Minority Educational Development
                                            offers
                                            study sessions for classes that are er and topic-specific.</li>
                                        <li><a class="color-primary" href="https://www.communicationcenter.gatech.edu/"
                                                target="_blank">Communication Center</a>: The Communication Lab provides
                                            assistance to students on assignments or projects relating to communication, as
                                            well
                                            as on cover letters, resumes, interview preparation etc.</li>
                                        <li>Office Hours: All professors hold office hours, which are specific times set by
                                            the
                                            professor outside of regular class time that students can use to clarify doubts,
                                            ask
                                            questions, etc. For some subjects, the Teacher Assistants (TAs) also hold their
                                            own
                                            office hours. The schedule of Office Hours is given by the professor or the TA
                                            on
                                            the first/second day of class and can usually be found on the class syllabus.
                                        </li>
                                        <li><a class="color-primary" href="https://advising.gatech.edu/students"
                                                target="_blank">Advising</a>: Every student is assigned a major advisor who
                                            offers advising related to class class registration, internships/co-ops, and
                                            undergraduate research. In addition, students are also assigned individual
                                            academic
                                            advisors whom they can consult on a regular basis. Students are encouraged to
                                            meet
                                            with their advisor at least twice per semester.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- CAREER OPPORTUNITIES -->
                    <div class="row pt-5">
                        <div class="col-md-7">
                            <div class="pl-5">
                                <a href="/career-resources">
                                    <div class="d-inline-flex">
                                        <h3 class="pull-left">Career Opportunities</h3>
                                        <h3 class="pull-right">
                                            <i class="fa fa-chevron-right"></i>
                                        </h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- <div id="careers" class="collapse">
                        <div class="row pt-5">
                            <div class="col-md-7">
                                <div class="pl-5">
                                    <h3 class="color-dark-primary">What on-campus jobs can I apply for at Tech?</h3>
                                    <p class="color-dark-secondary pt-3">
                                        There are many on-campus job opportunities available at Tech. Some common student
                                        jobs
                                        include being a <a class="color-primary"
                                            href="https://housing.gatech.edu/reslife/employment" target="_blank">Resident
                                            Assistant (RA)</a> in campus housing, being a Teaching Assistant (TA) for a
                                        course,
                                        being a course Notetaker, tutoring for the tutoring center, and being a <a
                                            class="color-primary" href="https://tutoring.gatech.edu/plus-sessions/"
                                            target="_blank">PLUS session leader</a> (specialized review sessions for
                                        lower-level
                                        courses). Each department offers a variety of jobs to students as well, from
                                        managing
                                        the department's social media to manning the help desk. These opportunities are
                                        often
                                        advertised via email or are posted on the <a class="color-primary"
                                            href="https://studentcenter.gatech.edu/campus-jobs" target="_blank">Student
                                            Center
                                            Job Board website</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-5">
                            <div class="col-md-7">
                                <div class="pl-5">
                                    <h3 class="color-dark-primary">What are some things to consider as an international
                                        student
                                        when career searching?</h3>
                                    <p class="color-dark-secondary pt-3">
                                        Companies do consider international students' work authorization needs when hiring
                                        for
                                        full-time jobs; however, current students do not require these authorizations if
                                        they
                                        take advantage of the OPT/ CPT program. OIE regularly provides webinars and
                                        workshops
                                        that go over the OPT/ CPT application process. Setting up a CareerBuzz acccount and
                                        making use of the Career Center resources is the way to begin the career search.
                                        Don't
                                        forget that there are many advisors, counselors, upperclassmen mentors, and peers
                                        who
                                        can provide support and introduce you to opportunities!
                                    </p>

                                    <p class="color-dark-secondary pt-3">
                                        For more detailed resources, see our guide <a href="/career-resources">here</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- Extracurriculars -->
                    <div class="row pt-5">
                        <div class="col-md-7">
                            <div class="pl-5">
                                <a class="collapsed" data-bs-toggle="collapse" href="#extracurriculars" aria-expanded="true" aria-controls="extracurriculars">
                                    <div class="d-inline-flex">
                                        <h3 class="pull-left">Extracurriculars</h3>
                                        <h3 class="pull-right">
                                            <i class="fa fa-chevron-down"></i>
                                        </h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="extracurriculars" class="collapse">
                        <div class="row pt-5">
                            <div class="col-md-7">
                                <div class="pl-5">
                                    <h3 class="color-dark-primary">What is the central resource to find all student
                                        organizations at Tech?</h3>
                                    <p class="color-dark-secondary pt-3">
                                        Once admitted to Georgia Tech, you can find campus organizations by using <a
                                            href="https://gatech.campuslabs.com/engage" class="color-primary"
                                            target="_blank">Engage</a>. On the "Organizations" page, you can filter for
                                        student
                                        orgs by selecting "Registered Student Organizations" in the "Braches" field.
                                    </p>
                                    <p class="color-dark-secondary ">
                                        Another great way to learn more about GT's student organizations is to check out the
                                        club tabling booths during FASET and the first week of classes in the Fall!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-5">
                            <div class="col-md-7">
                                <div class="pl-5">
                                    <h3 class="color-dark-primary">What are some professional / major-related
                                        extracurriculars
                                        on campus?</h3>
                                    <p class="color-dark-secondary pt-3">
                                        There are many organizations that have an academic and/or professional focus. These
                                        organizations allow you to obtain valuable experience in an area you might want to
                                        work
                                        in later on. Some notable ones include <a href="http://ewbgt.org/"
                                            class="color-primary" target="_blank">Engineers Without Borders (EWB)</a>, <a
                                            href="https://bitsofgood.org/" class="color-primary" target="_blank">Bits of
                                            Good</a>, <a
                                            href="http://www.undergradresearch.gatech.edu/content/undergraduate-research-ambassadors"
                                            class="color-primary" target="_blank">Undergraduate Research Ambassadors
                                            (URA)</a>,
                                        <a href="https://gatech.campuslabs.com/engage/organization/consult-your-community"
                                            class="color-primary" target="_blank">Consult Your Community (CYC)</a>, and <a
                                            href="https://scc.gatech.edu/" class="color-primary" target="_blank">Student
                                            Competition Center Teams</a>. However, there are many more that cater to a very
                                        wide
                                        variety of interests.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                        <!-- Atlanta -->
                    <div class="row pt-5">
                        <div class="col-md-7">
                            <div class="pl-5">
                                <a class="collapsed" data-bs-toggle="collapse" href="#atlanta" aria-expanded="true" aria-controls="atlanta">
                                    <div class="d-inline-flex">
                                        <h3 class="pull-left">Atlanta</h3>
                                        <h3 class="pull-right">
                                            <i class="fa fa-chevron-down"></i>
                                        </h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="atlanta" class="collapse">
                        <div class="row pt-5">
                            <div class="col-md-7">
                                <div class="pl-5">
                                    <h3 class="color-dark-primary">I am new to Atlanta. What are some must-do experiences
                                        here?
                                    </h3>
                                    <p class="color-dark-secondary pt-3">
                                        Georgia Tech is special in that it's located in the heart of Atlanta. When you leave
                                        our
                                        campus 'bubble', you step right into the vibrant, culturally diverse city. Check out
                                        this traveller's guide that GTIA has put together for you!
                                    </p>
                                    <p class="color-dark-secondary ">
                                        Parks
                                    </p>
                                    <ul class="color-dark-secondary ">
                                        <li><a href="http://www.tripadvisor.com/Attraction_Review-g60898-d104713-Reviews-Atlanta_Botanical_Garden-Atlanta_Georgia.html"
                                                class="color-primary" target="_blank">Atlanta Botanical Garden</a></li>
                                        <li><a href="http://www.tripadvisor.com/Attraction_Review-g60898-d126944-Reviews-Piedmont_Park-Atlanta_Georgia.html"
                                                class="color-primary" target="_blank">Piedmont Park</a></li>
                                        <li><a href="http://www.centennialpark.com/" class="color-primary"
                                                target="_blank">Centennial Olympic Park</a></li>
                                    </ul>
                                    <p class="color-dark-secondary ">
                                        Museums
                                    </p>
                                    <ul class="color-dark-secondary ">
                                        <li><a href="http://www.tripadvisor.com/Attraction_Review-g60898-d6781793-Reviews-Center_for_Civil_and_Human_Rights-Atlanta_Georgia.html"
                                                class="color-primary" target="_blank">Center for Civil and Human Rights</a>
                                        </li>
                                        <li><a href="http://www.tripadvisor.com/Attraction_Review-g60898-d103496-Reviews-Martin_Luther_King_Jr_National_Historic_Site-Atlanta_Georgia.html"
                                                class="color-primary" target="_blank">Martin Luther King Jr National
                                                Historic
                                                Site</a></li>
                                        <li><a href="http://www.tripadvisor.com/Attraction_Review-g60898-d588792-Reviews-Georgia_Aquarium-Atlanta_Georgia.html"
                                                class="color-primary" target="_blank">Georgia Aquarium</a>: Each spring,
                                            Georgia
                                            Tech Student Center Programs Council hosts a night at the aquarium, where it is
                                            only
                                            open to Tech students for a discounted price!</li>
                                        <li><a href="http://www.tripadvisor.com/Attraction_Review-g60898-d103493-Reviews-Atlanta_History_Center-Atlanta_Georgia.html"
                                                class="color-primary" target="_blank">Atlanta History Center</a></li>
                                        <li><a href="http://www.tripadvisor.com/Attraction_Review-g60898-d7092286-Reviews-College_Football_Hall_of_Fame-Atlanta_Georgia.html"
                                                class="color-primary" target="_blank">College Football Hall of Fame</a></li>
                                        <li><a href="https://www.worldofcoca-cola.com/" class="color-primary"
                                                target="_blank">World of Coca Cola</a></li>
                                    </ul>
                                    <p class="color-dark-secondary ">
                                        Arts
                                    </p>
                                    <ul class="color-dark-secondary ">
                                        <li><a href="http://www.tripadvisor.com/Attraction_Review-g60898-d105199-Reviews-Fox_Theatre-Atlanta_Georgia.html"
                                                class="color-primary" target="_blank">Fox Theatre</a></li>
                                        <li><a href="http://www.tripadvisor.com/Attraction_Review-g60898-d144319-Reviews-High_Museum_of_Art-Atlanta_Georgia.html"
                                                class="color-primary" target="_blank">High Museum of Art</a>: The High is
                                            free
                                            the second Sunday of every month!</li>
                                        <li><a href="http://www.musicmidtown.com/" class="color-primary"
                                                target="_blank">Music
                                                Midtown</a></li>
                                    </ul>
                                    <p class="color-dark-secondary ">
                                        Nature Outise of the City
                                    </p>
                                    <ul class="color-dark-secondary ">
                                        <li><a href="http://www.tripadvisor.com/Attraction_Review-g60874-d143186-Reviews-Kennesaw_Mountain_National_Battlefield_Park-Kennesaw_Georgia.html"
                                                class="color-primary" target="_blank">Kennesaw Mountain National Battlefield
                                                Park</a></li>
                                        <li><a href="http://www.tripadvisor.com/Attraction_Review-g35283-d108695-Reviews-Stone_Mountain_Park-Stone_Mountain_Georgia.html"
                                                class="color-primary" target="_blank">Stone Mountain Park</a></li>
                                        <li><a href="http://www.tripadvisor.com/Attraction_Review-g35281-d104717-Reviews-Panola_Mountain_State_Conservation_Park-Stockbridge_Georgia.html"
                                                class="color-primary" target="_blank">Panola Mountain State Conservation
                                                Park</a></li>
                                        <li><a href="http://www.tripadvisor.com/Attraction_Review-g35068-d559844-Reviews-Sweetwater_Creek_State_Park-Lithia_Springs_Georgia.html"
                                                class="color-primary" target="_blank">Sweetwater Creek State Park</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- Food -->
                    <div class="row pt-5">
                        <div class="col-md-7">
                            <div class="pl-5">
                                <a class="collapsed" data-bs-toggle="collapse" href="#food" aria-expanded="true" aria-controls="food">
                                    <div class="d-inline-flex">
                                        <h3 class="pull-left">Food</h3>
                                        <h3 class="pull-right">
                                            <i class="fa fa-chevron-down"></i>
                                        </h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="food" class="collapse">
                        <div class="row pt-5">
                            <div class="col-md-7">
                                <div class="pl-5">
                                    <h3 class="color-dark-primary">What off-campus dining options do you recommend around
                                        campus, especially for those with dietary restrictions?</h3>
                                    <p class="color-dark-secondary pt-3">
                                        Because Georgia Tech is optimally located in Atlanta, you have access to plenty of
                                        dining options within walking distance from campus. If you have certain dietary
                                        preferences, fret not! Many restaurants in Atlanta cater to those who have specific
                                        dietary restrictions. Check out GTIA's curated list of favorite restaurants <a
                                            href="https://docs.google.com/spreadsheets/d/10rp8AFoQY05PGAEuulbCgKE7P98NLOPHm0hdYKrDCbg/edit?usp=sharing"
                                            class="color-primary" target="_blank">here</a>! (We've noted if restaurants are
                                        vegan/vegetarian-friendly!)
                                    </p>
                                    <p class="color-dark-secondary ">
                                        If you're not in the mood to leave campus to grab some grub, you can use services
                                        such
                                        as Uber Eats, Grubhub, and Doordash. There are also services that deliver
                                        home-cooked
                                        Indian and Chinese food to campus for pickup. Each of these services have their own
                                        group chats, in which you can join to place orders and then pick up on campus.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                        <!-- Housing -->
                    <div class="row pt-5">
                        <div class="col-md-7">
                            <div class="pl-5">
                                <a class="collapsed" data-bs-toggle="collapse" href="#housing" aria-expanded="true" aria-controls="housing">
                                    <div class="d-inline-flex">
                                        <h3 class="pull-left">Housing</h3>
                                        <h3 class="pull-right">
                                            <i class="fa fa-chevron-down"></i>
                                        </h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="housing" class="collapse">
                        <div class="row pt-5">
                            <div class="col-md-7">
                                <div class="pl-5">
                                    <h3 class="color-dark-primary">Can you compare on-campus housing on East and West
                                        Campus?
                                    </h3>
                                    <p class="color-dark-secondary pt-3">
                                        You can find more information on the <a href="https://housing.gatech.edu/first-year"
                                            class="color-primary" target="_blank">GT housing website</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-5">
                            <div class="col-md-7">
                                <div class="pl-5">
                                    <h3 class="color-dark-primary">What are LLCs, and what to they do?</h3>
                                    <p class="color-dark-secondary pt-3">
                                        LLC's (Living Learning Communities) are a program at Georgia Tech where students
                                        live
                                        and take classes with a close-knit group of like-minded students. Some benefits of
                                        LLC's
                                        include having the opportunity to be part of a er community on campus, access
                                        to
                                        LLC-specific courses, a special LLC designation on your degree, access to
                                        scholarships,
                                        and specialized advising and career services. Most LLC's are targeted towards
                                        first-year
                                        students, but other LLC's such as I-House and Women, Science, and Technology (WST)
                                        are
                                        available to upperclassmen as well. <a
                                            href="https://learningcommunities.gatech.edu/" class="color-primary"
                                            target="_blank">Learn more about LLC's at Georgia Tech</a>!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                        <!-- Transitioning to Tech -->
                    <div class="row pt-5">
                        <div class="col-md-7">
                            <div class="pl-5">
                                <a class="collapsed" data-bs-toggle="collapse" href="#transitioning" aria-expanded="true" aria-controls="transitioning">
                                    <div class="d-inline-flex">
                                        <h3 class="pull-left">Transitioning to Tech</h3>
                                        <h3 class="pull-right">
                                            <i class="fa fa-chevron-down"></i>
                                        </h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="transitioning" class="collapse">
                        <div class="row pt-5">
                            <div class="col-md-7">
                                <div class="pl-5">
                                    <h3 class="color-dark-primary">What are the immigration status requirements to come to
                                        Tech?
                                    </h3>
                                    <p class="color-dark-secondary pt-3">
                                        When enrolling to Tech as an international student, you will be under the F-1 visa,
                                        with
                                        certain credit and GPA requirements to maintain the visa status. For more
                                        information
                                        and assistance, visit the <a
                                            href="https://oie.gatech.edu/content/applying-f-1j-1-visa" target="_blank"
                                            class="color-primary">OIE website</a> and/ or schedule an
                                        appointment with the OIE counselor.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-5">
                            <div class="col-md-7">
                                <div class="pl-5">
                                    <h3 class="color-dark-primary">Is Georgia Tech's campus safe?</h3>
                                    <p class="color-dark-secondary pt-3">
                                        "Georgia Tech has an on-campus police department (GTPD - 404.894.2500) that patrols
                                        the
                                        campus 24/7 and manages all campus safety. For more information, visit <a
                                            href="https://studentlife.gatech.edu/content/campus-safety" target="_blank"
                                            class="color-primary">Georgia Tech's campus safety website</a>.
                                    </p>
                                    <p class="color-dark-secondary ">
                                        It's important to note that while the inside of campus is safe, it's not recommended
                                        to
                                        leave campus at night without a group."
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-5">
                            <div class="col-md-7">
                                <div class="pl-5">
                                    <h3 class="color-dark-primary">What financial resources are available to international
                                        students?</h3>
                                    <p class="color-dark-secondary pt-3">
                                        Georgia Tech, like most U.S. schools, does not officially provide need-based
                                        financial
                                        aid for international students. However, there are many resources that students can
                                        take
                                        advantage of based on their own circumstances. The complete list of resources can be
                                        found <a
                                            href="https://oie.gatech.edu/content/financial-assistance-international-students"
                                            target="_blank" class="color-primary">here</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-5">
                            <div class="col-md-7">
                                <div class="pl-5">
                                    <h3 class="color-dark-primary">Do I need a Social Security number (SSN) as an
                                        international
                                        student?</h3>
                                    <p class="color-dark-secondary pt-3">
                                        Under the F-1 visa, international students can seek on-campus, part-time employment
                                        opportunities (outside of OPT/CPT). If you are employed on-campus, you need to
                                        request a
                                        SSN. If you are not employed, then you are not eligible to request a SSN and
                                        therefore
                                        don't need one.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-5">
                            <div class="col-md-7">
                                <div class="pl-5">
                                    <h3 class="color-dark-primary">How do I get around campus? (transportation)</h3>
                                    <p class="color-dark-secondary pt-3">
                                        Georgia Tech has multiple means of transportation that are safe and convenient. The
                                        campus bus operates routes not only around campus, but also to off-campus sites
                                        (e.g.
                                        the weekend grocery route). The Stingerette Safety Shuttle operates during the night
                                        for
                                        on- demand pick-up and drop-off rideshare services and can be accessed via
                                        smartphone
                                        app or phone at (404) 385-7275. Students with ODS authorization can also use the
                                        Student
                                        Paratransit services.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="sponsorship">
            <div class="container mt-5 mb-5">
                <div class="row pt-3">
                    <div class="col-md-12">
                        <a class="collapsed" data-bs-toggle="collapse" href="#collapse-sponsorship"
                            aria-expanded="true" aria-controls="collapse-sponsorship">
                            <div class="d-inline-flex">
                                <h3 class="pull-left">SPONSORSHIP</h3>
                                <h3 class="pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                </h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="collapse" id="collapse-sponsorship">
                    <div class="row pt-5">
                        <div class="col-md-7">
                            <div class="pl-5">
                                <h3 class="color-dark-primary">Our Partners and Sponsors</h3>
                                <ul class="color-dark-secondary ">
                                    <li><a class="color-primary" href="https://www.stickergiant.com/"
                                                target="_blank">StickerGiant</a></li>
                                    <li><a class="color-primary" href="https://oie.gatech.edu/"
                                        target="_blank">Georgia Tech Office of International Education</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <%- include('partials/footer.ejs') %>
        <%- include('partials/common-scripts.ejs') %>

</body>

</html>