<div class='calendar-container'>
    <div class='calendar-header-container row'>
        <div class="col-4">
            <h2>
                <span id='calender-header-month'></span>
                <span id='calender-header-year'></span>
            </h2>
        </div>
        <div class="col-4"></div>
        <div class="col-4">
            <div class="month-change-buttons">
                <div class='month-change-button left-button' id='previous-month-button'>
                    <i class="fas fa-chevron-left"></i>
                </div>
                <div class='month-change-button right-button' id='next-month-button'>
                    <i class="fas fa-chevron-right"></i>
                </div>
                <div class='month-change-button right-left-button' id='today-button'>
                    Today
                </div>
            </div>

        </div>
    </div>

    <div class='row'>
        <div class='weekday-header-container'>
        </div>
        <div class='day-container'>
        </div>
    </div>
</div>