<form action="/image/upload" method='POST' enctype="multipart/form-data">
    <label for="img">
        <img class="avatar" src="uploads/profiles/img/avatar.jpg" alt="...">
    </label>
    <input type="file" id="img" name="img" accept="image/*" style="display: none;">
    <input type="submit">
</form>