<h1>Active Signups</h1>

<% for(var i = 0; i < sheets.length; i++) { %>
    <div>
        <form method="post" action="/signups/active/openForm" class="inline">
            <input type="hidden" name="id" value="<%= sheets[i]._id %>">
            <button type="submit" class="link-button"><%= sheets[i].Name %></button>
        </form>
    </div>
 <%  } %>
