<!--
=========================================================
* * Black Dashboard - v1.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/black-dashboard
* Copyright 2019 Creative Tim (https://www.creative-tim.com)


* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/template/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/template/img/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">

    <title>
        GTIA - Login
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="../assets/template/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="../assets/template/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
    <link href="../assets/custom/css/custom_style.css" rel="stylesheet" />

    <link href="../assets/custom/css/login.css" rel="stylesheet" />
</head>

<body class="white-content">
    <div class="wrapper">
        <div class="main-panel">
            <!-- Navbar -->
            <%- include('partials/top_navbar.ejs', {title: 'Login' })%>
                <!-- End Navbar -->
                <div class="content">
                    <div class="row context-box">
                        <div class="col-md-12 ">
                            <div class="card card-login center-content">
                                <div class="row full-height">
                                    <div class='col-md-6 no-right-pad'>
                                        <div class="card-body">
                                            <div class='row login-preheading-text'>
                                                <div class='col-12'>
                                                    Welcome to GTIA!
                                                </div>
                                            </div>
                                            <div class='row login-heading-text'>
                                                <div class='col-12'>
                                                    Login
                                                </div>
                                            </div>
                                            <form action="/user/login" method="POST">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group login-text">
                                                            <input type="text" class="form-control"
                                                                placeholder="Username" name="username" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group login-text">
                                                            <input type="password" class="form-control" name="password"
                                                                value="" placeholder="Password">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 login-btn-pad">
                                                        <button type="submit"
                                                            class="btn btn-fill btn-primary btn-fill-width btn-submit">Login</button>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <a href="/user/register"><button type="button"
                                                                class="btn btn-fill btn-primary btn-fill-width btn-register">Register</button></a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class='col-md-6 no-left-pad'>
                                        <img class='login-image' src="../assets/custom/img/login_img_cropped.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<footer class="footer">
                    <div class="container-fluid">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">
                                    Creative Tim
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">
                                    About Us
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">
                                    Blog
                                </a>
                            </li>
                        </ul>
                        <div class="copyright">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>2018 made with <i class="tim-icons icon-heart-2"></i> by
                            <a href="javascript:void(0)" target="_blank">Creative Tim</a> for a better web.
                        </div>
                    </div>
                </footer>-->
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="../assets/template/js/core/jquery.min.js"></script>
    <script src="../assets/template/js/core/popper.min.js"></script>
    <script src="../assets/template/js/core/bootstrap.min.js"></script>
    <script src="../assets/template/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="../assets/template/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../assets/template/js/black-dashboard.min.js?v=1.0.0"></script>

</body>

</html>