.sheet-create-tool-bar-option {
    width: 130px;
    float: left;
    padding: 8px 10px 8px 10px;
    /*background-color: black;*/
    margin-right: 10px;
    background-color: #ffdb4d;
    border: 1px solid #ffd633;
    margin: 10px;
    cursor: pointer;
}

.sheet-create-tool-bar-button {
    width: 35px;
    font-size: 28px;
    margin-right: 5px;
    float: left;
}

.sheet-create-tool-bar-text {
    font-size: 16px;
    float: left;
    width: 70px;
    text-align: center;
    box-sizing: border-box;
}

.sheet-create-container {
    position: relative;
    margin: auto;
    width: 950px;
    background-color: #ffe066;
    padding-bottom: 40px;
    box-sizing: border-box;
    border-radius: 7px;
}

.sheet-create-tool-bar {
    position: sticky;
    top:210px;
    width: 100%;
    /*background-color: aqua;*/
    height: 78px;    
    border-radius: 7px 7px 0px 0px;
    box-sizing: border-box;
    background-color: #ffe066;
    z-index: 200;
    
}

.sheet-fields-container {
    width: 100%;   
    box-sizing: border-box;
    background-color: #ffe066;
}

.sheet-field-container, .name-description-container {
    width: calc(100%-20px);
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    background-color: #ede7e3;
    border-radius: 5px;
    /*border: 10px solid #ffe066;*/
}

a.fas, a.far, a.fa a.button {
    text-decoration: none;
    color: black;
}

.sheet-field-button-bar {
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

.sheet-field-button-bar-button {
    width: 35px;
    font-size: 28px;
    float: right;
    padding: 0px 2px 8px 2px;
} 

.options-field .question, .basic-text-field .question, 
.time-slots-field .question, .name-description-box .question{ 
    width: 100%;
    height: 40px;
    font-size: 18px;
    color: black;
    font-family: 'Sansita Swashed', serif;
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.question-number {
    width: 25px;
    height: 40px;
    text-align: center;
    padding-top: 13px;
    box-sizing: border-box;
    float: left;
}

.basic-text-field {
    width: calc(100% - 25px);
    float: left;
    
}

.basic-text-field .answer{ 
    width: 100%;
    height: 40px;
    font-size: 18px;
    color: black;
    font-family: 'Sansita Swashed', serif;
    box-sizing: border-box;
    padding-right: 30px;
    margin-bottom: 20px;
}

.field-holder {
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

.sheet-field-button-bar-required {
    width: 55px;
    font-size: 28px;
    float: left;
    padding: 1px 7px 7px 2px;
}

.sheet-field-button-bar-required-text {
    width: 80px;
    font-size: 18px;
    float: left;
    padding: 2.5px 2px 5px 2px;
}

.sheet-field-button-bar-multiple-text {
    width: 80px;
    font-size: 18px;
    float: left;
    padding: 2.5px 2px 5px 2px;
    margin-top: -10px;
}

.options-field {
    width: calc(100% - 25px);
    float: left;
}

.options-field .options {
    width: 100%;
}

.options-field .option-radio {
    width: 45px;
    height: 40px;
    text-align: center;
    padding-top: 12px;
    box-sizing: border-box;
    float: left;
}

.options-field .option-radio input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

.options-field .option-radio input[type="checkbox"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

.options-field .options-text {
    float: left;
    width: calc(100% - 45px);
    height: 40px;
    font-size: 18px;
    color: black;
    font-family: 'Sansita Swashed', serif;
    box-sizing: border-box;
    padding-right: 30px;
    margin-bottom: 15px;
}

.time-slots-field {
    width: calc(100% - 25px);
    float: left;
}

.time-slot-text {
    float: left;
    margin-right: 20px;
    font-size: 18px;
    padding-top: 10px;
}

.time-slot-date-time-box {
    float: left; 
    margin-right: 40px;
    margin-bottom: 15px;
    color: black;
    font-family: 'Sansita Swashed', serif;
}



.time-slot-date-time-box input {
    font-size: 18px;
    height: 40px;
    color: black;
    font-family: 'Sansita Swashed', serif;
}




.time-slots-field-job {
    float: left;
    width: 300px;
    height: 40px;
    font-size: 18px;
    color: black;
    font-family: 'Sansita Swashed', serif;
    box-sizing: border-box;
    margin-bottom: 15px;
}


.field-margin {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    width: 100%;
}

.option-extra-bar {
    margin-bottom: 10px;
}
.option-extra-bar-button {
    background-color: #e1d7d0;
    height: 45px;
    width: 140px;
    border: 1px solid #999999;
    color: black;
    cursor: pointer;
}
.option-extra-bar-icon {
    float: left;
    width: 35px;
    font-size: 28px;
    margin: 3px 3px 0 10px;
}

.option-extra-bar-text {
    float: left;
    font-size: 16px;
    width: 80px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 12px;
    color: black;
}

.switch-container {
    position: relative;
    float: left;
    margin-right: 35px;
    padding-top: 5px;    
    box-sizing: border-box;
    height: 50px;
}

.name-description-box .description-box{
    display: inline;
    font-family: inherit;
    font-size: inherit;
    padding: none;
    height: 200px;
    
    white-space: nowrap;
}

.name-description-box textarea.long-text-box{ 
    width: 100%;
    font-size: 18px;
    color: black;
    font-family: 'Sansita Swashed', serif;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
    resize: none;
}

.name-description-box div.long-text-box{ 
    width: 100%;
    font-size: 18px;
    color: black;
    font-family: 'Sansita Swashed', serif;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
    resize: none;
    display: inline-block;
    border: solid 1px #000;
    min-height: 80px;
    background-color: white;
}

.name-description-box div.placeholder-text {
    color: #a9a9a9;
}

.editable:empty:before {
    content: attr(data-placeholder);
}

.name-description-container .name-section {
    margin-top: 20px;
}

.expire-date-box {
    margin-left: 10px;
    float: right; 
    margin-right: 40px;
    position: relative;
    transform: translate(210px, -7px);
}

.sheet-special-settings-button-bar {
    width: 100%;
    margin-bottom: 10px
}

.field-holder.name-section {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}
