body, html {
    margin: 0;
    height: 100%;
}

.icon-bar {
    width: 100px; /* Set a specific width */
    height: 100%;
    background-color: #ffa62b; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
}
  
.icon-bar a.icon-bar-option {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 14px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font-size */
}

.active-icon-bar {
    width: 300px; /* Set a specific width */
    height: 100%;
    background-color: #ffa62b; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
}

.active-icon-bar a.icon-bar-option {
    display: flex; /* Make the links appear below each other instead of side-by-side */
    align-items: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 30px; /* Increased font-size */
    text-decoration: none;
}

.active-icon-bar a .font-icon {
    margin-right: 15px;
}
  
.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}
  
.active {
    background-color: #4CAF50; /* Add an active/current color */
}

.icon-bar-sub-option {
    display: flex; /* Make the links appear below each other instead of side-by-side */
    align-items: center;
    padding: 5px 0 5px 60px;
    color: white; /* White text color */
    font-size: 20px; /* Increased font-size */
    text-decoration: none;
    transition: all 0.3s ease;
}

.hide-sub-options .sub-options-hidden {
    display: none;
    transition: all 0.3s ease; /* Add transition for hover effects */
}

.active-icon-bar .show-text {
    display: block;
}

.invisible {
    display: none;
}

.homepage-head {
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 100px;
    width: 100%;
    box-sizing: border-box;
    height: 210px;
    z-index: 200; 
    color: white;  
    background-color: red;     
}

.info-bar {
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #489fb5;
    z-index: 12; 
    padding: 10px;  
    font-size: 18px;  
}

.banner {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #3170a9;
    z-index: 10;
    padding: 10px;
}

.main-content {
    position: relative;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    background-color: #82c0cc;
    z-index: 5; 
    margin-right: 0;
    padding-bottom: 100px;
    padding-top: 280px;
    padding-left: 100px;
    margin: 0;
    top: 0;
    left: 0;
    
}

.align-right {
    /*width: 100%;*/
    width: 100px;
    text-align: right;
}

.align-center {
    /*width: 100%;*/
    text-align: center;
}
.light-pad {
    padding: 2px;
}

.input-error-highlight {
    border: 0.5px solid red !important;
    box-shadow: 0px 0px 5px red !important;
}

.contracting-box-collapsed {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.make-sticky {
    position: sticky;
}

.disabled-element { pointer-events: none; }

::placeholder { color: red;
    color: #a9a9a9
  }