.card-user-management .card-body {
  padding-left: 20px;
  padding-right: 20px;
}

.card-user-management .user-search {
  margin-bottom: 20px;
}
.card-user-management {
  height: 600px;
}

.card-user-management .table-full-width {
  max-height: 420px;
  position: relative;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal.view {
  display: block;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body .card {
  margin-bottom: 0;
}

/* Modal Body */
.modal-body {
  padding: 0px 0px;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;

  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 0px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.form-checkbox .form-control {
  display: block;
  width: 100%;
  height: calc(1.25rem);
  padding: 0.5rem 0.7rem;
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 10px;
  margin-right: 0;
}

.form-checkbox {
  text-align: center;
}

.form-control option {
  color: rgba(0, 0, 0, 0.8);
}

.chosen-container {
  width: 100% !important;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 10px 18px 10px 18px;
  width: 25px;
  outline: 0;
  height: calc(2.25rem + 2px);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.428571;
  border: 0 !important;
}

.modal .chosen-container-multi .chosen-choices li.search-choice {
  margin: 11px 3px 8px 3px !important;
}

.modal .chosen-container-active .chosen-choices {
  border-color: #e14eca;
  border-radius: 0.4285rem;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.modal
  .chosen-container-active
  .chosen-choices
  li.search-field
  input[type="text"] {
  color: rgba(255, 255, 255, 0.8) !important;
}

.modal .chosen-container-multi .chosen-choices {
  padding: 0 0;
  width: 100%;
  height: calc(2.25rem + 2px);
  border: 1px solid #2b3553;
  background-color: transparent;
  background-image: none;
  line-height: 1.428571;
  font-size: 0.875rem;
  font-weight: 400;
  border-radius: 0.4285rem;
  font-size: 0.75rem;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.modal
  .chosen-container-multi
  .chosen-choices
  li.search-field
  input[type="text"] {
  padding: 10px 10px 10px 10px;
  height: calc(2.25rem + 2px);
  color: #adb5bd;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.428571;
}

.modal .chosen-drop ul li {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.75rem;
}

tbody .btn i {
  color: rgba(255, 255, 255, 0.3);
}

tbody .btn i:hover {
  color: white;
}

.modal p.modal-text {
  color: rgba(255, 255, 255, 0.8);
}

#confirmDeleteModal .modal-content {
  width: 600px;
}

#deleteUserFullname {
  font-weight: bold;
}
