.card-events-list {
  height: 657px;
}

.table-full-width {
  max-height: 560px;
  position: relative;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: #1d253b;
}

.modal-body .card {
  margin-bottom: 0;
}

/* Modal Body */
.modal-body {
  padding: 0px 0px;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: #1d253b;
}

/* Modal Content */
.modal-content {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #1d253b;
  background-color: #fefefe;
  margin: 8% auto; /* 15% from the top and centered */
  padding: 0px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal.view {
  display: block;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.form-checkbox .form-control {
  display: block;
  width: 100%;
  height: calc(1.25rem);
  padding: 0.5rem 0.7rem;
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 10px;
  margin-right: 0;
}

.form-checkbox {
  text-align: center;
}

.form-control option {
  color: rgba(0, 0, 0, 0.8);
}

.chosen-container {
  width: 100% !important;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 10px 18px 10px 18px;
  width: 25px;
  outline: 0;
  height: calc(2.25rem + 2px);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.428571;
  border: 0 !important;
}

.modal .chosen-container-multi .chosen-choices li.search-choice {
  margin: 11px 3px 8px 3px !important;
}

.white-content .form-control:focus {
  border-color: #f5d580;
}

.modal
  .chosen-container-active
  .chosen-choices
  li.search-field
  input[type="text"] {
  color: #222a42 !important;
  font-family: "Poppins", sans-serif;
}

.modal .chosen-container-multi .chosen-choices {
  padding: 0 0;
  width: 100%;
  height: calc(2.25rem + 2px);
  border: 1px solid #2b3553;
  background-color: transparent;
  background-image: none;
  line-height: 1.428571;
  font-size: 0.875rem;
  font-weight: 400;
  border-radius: 0.4285rem;
  font-size: 0.75rem;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.modal .chosen-container-active .chosen-choices {
  border-color: #f5d580;
  border-radius: 0.4285rem;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.modal
  .chosen-container-multi
  .chosen-choices
  li.search-field
  input[type="text"] {
  padding: 10px 10px 10px 10px;
  height: calc(2.25rem + 2px);
  color: #adb5bd;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.428571;
  font-family: "Poppins", sans-serif;
}

.modal .chosen-drop ul li {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.75rem;
}

tbody .btn i {
  color: rgb(0, 48, 87, 1);
}

tbody .btn i:hover {
  color: rgb(0, 48, 87, 0.6);
}

.modal p.modal-text {
  color: #1d253b;
}

#confirmDeleteModal .modal-content {
  width: 600px;
}

#deleteUserFullname {
  font-weight: bold;
}

thead th {
  font-size: 13px !important;
}

textarea.form-control {
  border: 1px solid #f5d580;
  border-radius: 0.4285rem;
  resize: vertical;
  max-height: 300px;
}

textarea.form-control:focus,
textarea.form-control:active {
  border: 1px solid #f5d580;
  border-radius: 0.4285rem;
}

.btn.btn-float-right {
  float: right;
}

.modal .card-footer {
  padding-left: 0;
  padding-right: 0;
}

.modal .inactive {
  display: none;
}

.calendar-holder {
  width: 100%;
  min-width: 840px;
}

.event-tab-holder {
  width: 300px;
  min-width: 300px;
  margin-right: 30px;
  margin-left: 30px;
}

.fixed-size-container {
  flex-wrap: nowrap;
}

.calendar-size-container {
  width: calc(100% - 400px);
}

.modal-toolbar {
  background-color: #fefefe;
  border-radius: 0.4857rem;
  flex: 70px;
  margin-left: 15px;
  width: 100px;
  max-width: 100px;
  min-width: 100px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.modal-toolbar.hidden {
  display: none;
}

.flex-container {
  display: flex;
}

.modal-content {
  background-color: transparent !important;
  box-shadow: none !important;
  max-width: calc(1000px + 100px + 15px);
  border: none;
}

.modal-body {
  width: calc(100% - 120px);
  flex: calc(100% - 120px);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border-radius: 0.4857rem;
  max-width: 1000px;
}

.modal-toolbar .button-container {
  padding: 20px 12px;
  width: 100%;
  height: 100%;
  position: relative;
}

.modal-toolbar .button-container .btn-special {
  width: 76px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  border-color: transparent;
  background-color: transparent;
  text-align: center;
  line-height: 50px;
  margin-top: 10px;
}

.modal-toolbar .button-container .btn-special .icon {
  font-size: 38px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: #004f9f;
}

.modal-toolbar .button-container .btn-special .icon:hover {
  color: #eaaa00;
}

.modal-toolbar .button-container .btn-special.bottom {
  position: absolute;
  margin-bottom: 0;
  bottom: 32px;
}

.back-btn.hidden {
  display: none;
}
