.main-panel > .content {
  padding-left: 78px;
  min-height: calc(100vh - 70px);
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}

img.login-image {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  max-height: 700px;
}

.no-left-pad {
  padding-left: 0;
}

.no-right-pad {
  padding-right: 0;
}

.card.card-login {
  max-width: 933px;
}

.center-content {
  margin: 0% auto;
}

.btn-submit {
  margin: 0%;
  width: 100%;
  padding-top: 10px;
}

.form-text {
  padding: 20px 40px 0 40px;
  font-family: "Playfair Display", serif;
}

.form-text h5 {
  font-size: 1.2rem;
  margin-bottom: 2px;
}

.form-text h3 {
  font-size: 3.2rem;
  margin-bottom: 5px;
  font-weight: bold;
}

.card-body {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  width: calc(100% - 15px);
}

/** New Design Stuff **/

.card.card-login {
  width: 959px;
  height: 701px;
  border: none;
}

div.content div.card.card-login {
  background-image: url("../img/brushstroke texture tall 1.svg");
  background-repeat: no-repeat;
  background-size: 959px 701px;
}

.card-body {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  width: 300px;
  margin-left: 140px;
}

form {
}

.context-box {
}

img.login-image {
  width: 390px;
  margin-top: 93px;
  border-radius: 4px;
}

.login-preheading-text {
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;

  color: #032d23;
}

.login-heading-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;

  letter-spacing: 1px;

  color: #091133;
  margin-bottom: 18px;
}

.form-group.login-text .form-control {
  height: 45px;
  border-radius: 4px;
  background: #ffffff;
  font-family: "Inter";
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  text-align: left;
  border: none;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.btn {
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  border-radius: 4px;
}

.full-height {
  height: 100%;
}

.form-group.login-text {
  margin-bottom: 15px;
}

.login-btn-pad {
  margin-bottom: 4px;
}
