<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/view-sheet-style.css">
    <link rel="stylesheet" href="/css/create-sheet-style.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/slider.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Sansita+Swashed">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <meta charset=utf-8 />
    <title>GTIA Website</title>
</head>



<body style="font-family: 'Sansita Swashed', serif;">
    <%- include('partials/icon-bar') %>

    <div class="homepage-head">
        <div class="banner">
        </div>
        <div class="info-bar">           
        </div>    
    </div>

    <div class="main-content">
        <div class="sheet-view-container">
            <% sheets.forEach((sheet) => { %>
                <%- include('partials/sheet-response.ejs', {sheet: sheet, timeSlotExtraData: timeSlotExtraData}) %>
            <% }) %>
            
        </div>
    </div>
</body>

<script src="/scripts/view-sheet-script.js"></script>
</html>
