<nav class="navbar navbar-expand-lg navbar-light bg-secondary-gtia">
    <a class="navbar-brand color-dark-primary text-bold" href="/">
        <img src="../assets/sun/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Georgia Tech International Ambassadors
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link <%= currentPage ==='home' ? 'active' : ''%>" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/faq">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-button" href="/user/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img src="https://img.icons8.com/ios/50/000000/instagram-new--v1.png" class="pb-1" height="30" />
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img src="https://img.icons8.com/ios-filled/50/000000/facebook-new.png" class="pb-1" height="30" />
                </a>
            </li>
        </ul>
    </div>
</nav>