<div onmouseover="this.classList.toggle('active-icon-bar');" 
        onmouseout="this.classList.toggle('active-icon-bar');" class="icon-bar">
        <div>
            <a href="/"  class="active icon-bar-option">
                <span class="font-icon fa fa-home"></span> 
                <span class="invisible show-text">Home</span>
            </a>
        </div>
        <div onmouseover="this.classList.toggle('hide-sub-options');" 
            onmouseout="this.classList.toggle('hide-sub-options');" class="hide-sub-options">
            <a href="#" class="icon-bar-option">
                <span class="font-icon fas fa-clipboard-check"></span> 
                <span class="invisible show-text">Sheets</span>
            </a>
            <div class="sub-options-hidden">
                <div><a href="/signups/create" class="icon-bar-sub-option">Create New Sheet</a></div>
                <div><a href="/signups/view" class="icon-bar-sub-option">View Active Sheets</a></div>
                <div><a href="/signups/view/mySignupSheets"  class="icon-bar-sub-option">View My Sheets</a></div>
            </div>
        </div>
        <div>
            <a href="#" class="icon-bar-option">
                <span class="font-icon fa fa-envelope"></span>
                <span class="invisible show-text">Notifications</span>
            </a>
        </div>
        <div onmouseover="this.classList.toggle('hide-sub-options');" 
            onmouseout="this.classList.toggle('hide-sub-options');" class="hide-sub-options">
            <a href="#" class="icon-bar-option">
                <span class="font-icon fas fa-star-half-alt"></span>
                <span class="invisible show-text">Points</span>
            </a>
            <div class="sub-options-hidden">
                <div> <a href="#" class="icon-bar-sub-option">Work Points</a> </div>
                <div> <a href="#" class="icon-bar-sub-option">Social Points</a></div>
            </div>
        </div>
        <div>
            <a href="#" class="icon-bar-option">
                <span class="font-icon fas fa-user"></span>
                <span class="invisible show-text">User</span>
            </a>
        </div>
    </div> 