<div class="user-select-screen  user-box-hide" id="<%= userSelectScreenId %>">
    <div class="user-select-header">
        <span class="center-text" style="font-size: 24px;"><%= headerTitle %></span>
    </div>
    <div class="cancel-button" onclick="<%= closeButtonCallBack %>">
        <span class="center-text fas fa-times" style="font-size: 24px;"></span>
    </div>
    <div class="user-select-search-bar">
        <input type="text" oninput="MakeSearchQuery(this)" class="user-search-input" style="border: 1px solid black;">
        <i class="fas fa-search icon" onclick="MakeSearchQuery(this)"> </i>
    </div>
    <div class="selector-container">
        <div class="select-box  user-list-box">
            <div class="fixed-list-header">
                <span class="center-text">Available Members</span>
            </div>
            <div class="selectable-list-container">
                <ul class="available-member-list">
                </ul>
            </div>
        </div>

        <%- include('user-select-pop-up-buttons.ejs') %>

        <div class="selected-box user-list-box">
            <div class="fixed-list-header">
                <span class="center-text">Selected Members</span>
            </div>
            <div class="selectable-list-container">
                <ul class="selected-member-list">
                </ul>
            </div>
        </div>
    </div>
</div>
