<footer class="bg-secondary-gtia">
  <div class="container py-4">
    <!-- <div class="d-flex flex-column text-center align-items-center"></div> -->
    <hr />
    <div
      class="d-flex flex-column flex-md-row justify-content-between align-items-center"
    >
      <div class="d-flex">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/faq">FAQ</a>
        <a class="nav-link" href="#">Contact</a>
        <a
          class="nav-link"
          href="https://www.facebook.com/GTIAmbassadors"
          target="_blank"
        >
          <img
            src="https://img.icons8.com/ios-filled/50/000000/facebook-new.png"
            class="pb-1"
            height="30"
          />
        </a>
        <a
          class="nav-link"
          href="https://www.instagram.com/gtiambassadors"
          target="_blank"
        >
          <img
            src="https://img.icons8.com/ios/50/000000/instagram-new--v1.png"
            class="pb-1"
            height="30"
          />
        </a>
      </div>
      <div class="d-flex">
        <img
          src="../assets/sun/img/brush-logo.png"
          alt="GTIA Logo"
          width="60"
          height="60"
          style="margin-right: 3vw"
        />
        <p class="color-dark-secondary mt-3 copy">
          &#169;
          <script type="text/javascript">
            var today = new Date();
            var year = today.getFullYear();
            document.write(year);
          </script>
          GTIA
        </p>
      </div>
    </div>
  </div>
</footer>
