<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-secondary-gtia">
  <a class="navbar-brand color-dark-primary text-bold ps-3" href="/">
    <img
      src="../assets/sun/img/logo.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    <span class="d-none d-md-inline"
      >Georgia Tech International Ambassadors</span
    >
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav text-center">
      <li class="nav-item <%= currentPage ==='home' ? 'active' : ''%>">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item <%= currentPage ==='about' ? 'active' : ''%>">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="resourcesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Resources
        </a>
        <ul class="dropdown-menu" aria-labelledby="resourcesDropdown">
          <li><a class="dropdown-item" href="/career-resources">Career</a></li>
          <li><a class="dropdown-item" href="/faq">FAQ</a></li>
        </ul>
      </li>
      <li class="nav-item <%= currentPage ==='contact' ? 'active' : ''%>">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link nav-button"
          href="https://forms.gle/RNs9xUpaa1qcm75H8"
          target="_blank"
          >Apply!</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link nav-button" href="/user/login">Login</a>
      </li>
      <div class="d-flex m-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://www.instagram.com/gtiambassadors"
            target="_blank"
          >
            <img
              src="https://img.icons8.com/ios/50/000000/instagram-new--v1.png"
              class="pb-1"
              height="30"
            />
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://www.facebook.com/GTIAmbassadors"
            target="_blank"
          >
            <img
              src="https://img.icons8.com/ios-filled/50/000000/facebook-new.png"
              class="pb-1"
              height="30"
            />
          </a>
        </li>
      </div>
    </ul>
  </div>
</nav>
