.sidebar .nav li > a,
.off-canvas-sidebar .nav li > a {
  font-size: 1.2rem;
}

.sidebar,
.off-canvas-sidebar {
  margin-left: 0px;
  border-radius: 0px;
  margin-top: 50px;
  padding-top: 30px;
  background: -webkit-linear-gradient(0deg, #335161 0%, #003057 100%);
  background: -o-linear-gradient(0deg, #335161 0%, #003057 100%);
  background: -moz-linear-gradient(0deg, #002233 0%, #003057 100%);
  background: linear-gradient(0deg, #002233 0%, #003057 100%);
}
