:root {
    --primary: #EAAA00;
    /*--secondary: #EAAA0033;*/
    --secondary: #fbeecc;
    --dark-primary: #003057;
    /*--dark-secondary: #003057b3;*/
    --dark-secondary: #4d6e89;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
	font-weight: 700;
}

h2, h3 {
	font-weight: 600;
}

p {
    font-family: 'Roboto', sans-serif;
}

.text-bold {
	font-weight: 700;
}

.color-primary {
	color: var(--primary);
}
.color-secondary {
	color: var(--secondary);
}
.color-dark-primary {
	color: var(--dark-primary);
}
.color-dark-secondary {
	color: var(--dark-secondary);
}
.bg-secondary-gtia {
	background-color: var(--secondary);
}

.nav-link {
	color: var(--dark-secondary) !important;
}
.nav-button {
	padding-left: 3.5rem !important;
	padding-right: 3.5rem !important;
	color: var(--secondary) !important;
	background-color: var(--dark);
    font-family: 'Montserrat', sans-serif;
  	border-radius: 5px;
}
.sponsor-button {
	padding-left: 2.5rem !important;
	padding-right: 2.5rem !important;
	color: white !important;
	background-color: var(--dark);
    font-family: 'Montserrat', sans-serif;
  	border-radius: 5px;
}

.nav-item {
	margin-left: 1.5rem !important;
	margin-right: 1.5rem !important;
}

.bg-paint-1 {
	background-image: url(../img/bg_1.png);
	background-repeat: no-repeat;
	background-position: 60% 85%; 
	background-size: 95%;
}

.bg-paint-2 {
	background-image: url(../img/bg_2.png);
	background-repeat: no-repeat;
	background-position: 50% 100%; 
	background-size: 100%;
}


.paint-card {
	width: 90%; 
	margin-left: 5%;
	box-shadow: 2px 2px 10px grey;
}

.sponsor-img {
	width: 80%
	margin-left: 10%;
}

@media (min-width: 768px) {
	.home-title {
		padding-top: 10rem;
		padding-left: 6rem;
		padding-right: 4rem;
	}
	.about-text {
		padding-left: 13rem;
		padding-top: 6rem;
		padding-right: 4rem;
	}
	#home-contact-image {
		padding-top: 4rem;
		padding-right: 1rem;
	}
	#home-contact-text {
		padding-left: 4rem;
		padding-top: 8.5rem;
		padding-right: 15rem;
	}
}
@media (max-width: 768px) {
	.home-title {
		padding-top: 1rem;
		padding-left: 1rem;
	}
	.about-text {
		padding-left: 1rem;
		padding-top: 2rem;
	}
}

