:root {
  --primary: #eaaa00;
  /*--secondary: #EAAA0033;*/
  --secondary: #fbeecc;
  --dark-primary: #003057;
  /*--dark-secondary: #003057b3;*/
  --dark-secondary: #4d6e89;
}

/* ======================================= */

/* Responsive Text */
@media (min-width: 30em) {
  :root {
    font-size: calc(0.75rem + ((1vw - 0.3rem) * 0.625));
    min-height: 0vw;
  }
}
@media (min-width: 70em) {
  :root {
    font-size: 1rem;
  }
}

/* GTIA breakpoint */
@media (min-width: 1279px) {
  .show-lg {
    display: initial;
  }
  .show-xs {
    display: none;
    visibility: hidden;
  }
}
@media (max-width: 1279px) {
  .show-lg {
    display: none;
    visibility: hidden;
  }
  .show-xs {
    display: initial;
  }
}

/*index*/

.body,
.row {
  width: 100%;
  margin: auto;
  padding: 1em 0 1em 0;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 700;
}

h2,
h3 {
  font-weight: 600;
}

p {
  font-family: 'Roboto', sans-serif;
}

.text-bold {
  font-weight: 700;
}

a {
  color: var(--primary);
}

a:hover {
  color: var(--primary);
  text-decoration: none;
}

.color-primary {
  color: var(--primary);
}

.color-secondary {
  color: var(--secondary);
}

.color-dark-primary {
  color: var(--dark-primary);
}

.color-dark-secondary {
  color: var(--dark-secondary);
}

.bg-secondary-gtia {
  background-color: var(--secondary);
}

/* Navbar */

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav-link {
  color: var(--dark-primary) !important;
}

.nav-button {
  padding-left: 3.5rem !important;
  padding-right: 3.5rem !important;
  color: var(--secondary) !important;
  background-color: var(--dark-primary);
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
}

.navbar-toggler {
  margin-right: 5vw;
}

.sponsor-button {
  min-width: 200px;
  color: white !important;
  background-color: var(--dark-primary);
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
}

.nav-item {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

/* Nav Hovers */
.nav-link:hover {
  opacity: 0.7;
}

.nav-button:hover {
  opacity: 0.7;
}

.bg-paint-1 {
  background-image: url(../img/brushstroke-1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
}

.bg-paint-2 {
  background-image: url(../img/sponsor-brushstroke.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
}

.event-card {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
}

.event-card.disabled {
  background-color: rgb(247, 247, 247);
}

.event-card h3.card-title {
  min-height: 64px;
}

.sponsor-img {
  width: 80%;
  margin-left: 10%;
}

img#home-contact-image {
  border-radius: 20px;
}

@media (min-width: 768px) {
  .home-title {
    padding-top: 10rem;
    padding-left: 6rem;
    padding-right: 4rem;
  }
}

@media (max-width: 768px) {
  .home-title {
    padding-top: 1rem;
    padding-left: 1rem;
  }
  .about-text {
    padding-left: 1rem;
    padding-top: 2rem;
  }
}

/* ======================================= */

/* faq */

.faq-link {
  color: var(--primary);
  /* text-decoration: underline; */
}

.faq-link:hover {
  color: var(--secondary);
  text-decoration: none;
}

.fa {
  transition: 0.3s transform ease-in-out;
}

.collapsed .fa {
  transform: rotate(-90deg);
}

.carousel-control-next-icon:after {
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}
